# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### O que são Bancos de Dados?

Bancos de dados são coleções de dados interligados entre si e organizados para fornecer informações.

É uma coleção de dados inter-relacionados, representando informações sobre um domínio específico.

#### Dados x Informações

Dados são fatos brutos, em sua forma primária, dados podem não fazer sentindo quando analisados de forma isolada.

Já informação consiste no agrupamento de dados de forma organizada, para fazer um sentido. Os dados são a base da piramide na hierarquia DIKW.

https://pt.wikipedia.org/wiki/Hierarquia_DIKW

![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/DIKW_Pyramid.svg/330px-DIKW_Pyramid.svg.png)

Para transformar dados em informações, são aplicadas análise e transformações nos dados armazenados em bases de dados, afim de dar sentido aos dados ou agrupalos de forma a gerar informações.

### SGBD

SGBD - Sistema de Gerenciamento de Bancos de Dados

ou

DBMS - Database Management System

Um Sistema de Gerenciamento de Banco de Dados (SGBD) é o conjunto de programas de computador (softwares) responsáveis pelo gerenciamento de uma base de dados.

O principal objetivo de um SGBD e retirar da aplicação cliente a responsabilidade de gerenciar o acesso, a manipulação e a organização dos dados. O SGBD disponibiliza uma interface para os seus clientes possam incluir, alterar ou consultar os dados previamente armazenados. Em bancos de dados relacionais a interface de acesso ao SGBD é feito na linguagem SQL. O principal software do mercado é o banco de dados Oracle.

Por que usar um SGBD?

- Controlar redundância
- Compartilhamento de dados
- Independência de dados
- Segurança
- Backup e recuperação a falhas
- Aumentar a produtividade e disponibilidade
- Flexibilidade e padronização

Onde encontramos SGBD's?

- Data Minig
- Datawarehousing e OLAP (On-Line Analytical Processing)
- Banco de Dados Multimídia
- Banco de Dados Espaciais e Temporais
- Banco de Dados Móveis
- Bancos de Dados Semiestruturados
- Novas Aplicações de Bancos de Dados: Bibliotecas Digitais, Comércio Eletrônico, Telecomunicações, etc.
- Uma das Fontes do Big Data

### Bancos de Dados Relacionais

Bancos de dados relacionais tem sido o principal modelo para gestão de bancos de dados nas últimas décadas.

Bancos de dados relacionais representam e armazenam os dados em tabelas organizadas em linhas e colunas, eles são baseados em um ramo da teoria dos conjuntos algébricos conhecido como algebrarelacional.

Bancos de dados relacionais são gerenciados por RDBMS (Relational Database Management System). Em um banco de dados relacional todos os dados são guardados em tabelas, que por sua vez é um conjunto de linhas e colunas. São os relacionamentos entre as tabelas que tornam o banco relacional.

Um banco de dados relacional pode ser percebido externamente como uma coleção de tabelas. Esses bancos usam linguagem SQL. As tabelas se conectam entre chaves.

- Entidades (tabelas) e atributos
- Registros (Tuplas)
- Chaves (primária e estrangeira)
- Relacionamentos entre entidades (tabelas)
- Integridade Referencial
- Normalização

## Principais Conceitos de Bancos de Dados Relacionais

- Entidades (tabelas) e atributos
- Registros (Tuplas)
- Chaves (primária e estrangeira)
- Relacionamentos entre entidades (tabelas)
- Integridade Referencial
- Normalização

Os dados de um banco de dados relacional são armazenados em **tabelas**. Que foram definidas durante a faze de modelagem.

Cada linha formada por uma lista ordenada de colunas representa um **registro**, ou tupla, dentro da tabela. Não devemos confundir com os objetos tuplas do Python.

As colunas de uma tabela são também chamadas de **atributos**, e ao conjunto de valores que um atributo pode assumir chamamos de domínio.

Um conceito importante em um banco de dados relacional é o conceito de atributo **chave**, que permite identificar e diferenciar uma tupla de outra. As tabelas reacionam-se umas as outras através de chaves, uma chave é um conjunto de um ou mais atributos que determinam a unicidade de cada registro.

Chave Primária (PK) - coluna(s) que garente(m) a unicidade das linhas. É a chave principal de uma tabela. Uma tabela só pode ter uma Chave Primária. Uma tabela só pode ter uma chave primária, mas uma chave primária pode ser composta por uma ou mais colunas.

Chave Estrangeira (FK) - coluna(s) de uma tabela que contém valores da PK de outra tabela. Uma tabela pode ter mais de uma Chave Estrangeira.

As chaves garantem o relacionamento entre as tabelas.

Índices

É uma lista ordenada de valores que apontam para os dados nas tabelas. Utilizado para agilizar a leitura de dados. Pode ser utilizado também para forçar a unicidade dos dados.

Integridade Referencial

É o conceito em que várias tabelas de banco de dados compartilham uma relação com base nos dados armazenados nas tabelas e essa relação deve ser coerente. Isso geralmente é imposto com ações de adição, exclusão e atualização em cascata. Isso impossibilita registros orfãos dentro do banco de dados.

Normalização

Normalização de dados é o processo de organização de campos e tabelas de um banco de dados relacional para minimizar a redundância e a dependência.

### Linguagem SQL

Comandos da linguagem SQL (Structured Query Language) são divididos em três grupos principais:

DDL - Data Definition Language (Suporte)

    - CREATE : definição de um objeto (tabela, índice)
    - ALTER : alteração de um objeto
    - DROP : eliminação de um objeto

DML - Data Manipulation Language (Desenvolvimento)

    - SELECT : pesquisa de dados
    - UPDATE : atualização de dados
    - DELETE : eliminação de dados
    - INSERT : inserção de dados

DCL - Data Control Language (Suporte/Desenvolvimento)

    - GRANT : fornecer um privilégio
    - REVOKE : tirar um privilégio

## SQLite

SQLite é um engine (motor) de banco de dados SQL. Este é uma versão simplificada o que proporciona um ganho em performance. Basicamente todo o banco de dados SQLite é contido em um único arquivo, não há necessidade de criar usuários, ou esquemas de acesso, bem como, também não hé controles avançados como em bancos de dados comuns. Se o SQLite é somente um arquivo porque não utilizar um arquivo comum ao invés de SQLite?

Porque um arquivo comum carregaria todos os registros para memória enquanto o SQLite carrega apenas os registros que estão sendo usados.

Não requer um processo servidor dedicado.

Configuração zero, o que significa que nenhuma configuração ou administração é necessária.

Um banco de dados SQLite completo é armazenado em um único arquivo multiplataforma.

SQLite é pequeno e leve, menos de 400 Kb quando totalmente configurado.

O SQLite está disponivel para diversas plataformas, como Unix, Linux, Mac OSX, Android, iOS e Windows.

O SQLite pode ser usado, quando recursos avançados de SQBD's não forem necessários, como por exemplo para aplicações que executem em um smartphone. Ele é instalado automaticamente quando instalamos o Anaconda.

O código do SQLite, totalmente escrito em liguagem C, é de domínio público e pode ser usado livremente, inclusive para uso comercial e privado.

O SQLite é amplamente utilizado na internet e em smartphone. Ao contrário de outros bancos de dados, o SQLite não requer um processo ou serviço sendo executado em um servidor. Todo acesso ao banco de dados é feito através de leitura/escrita aos arquivos do banco de dados, acesso este feito pelas bibliotecas do SQLite. Todos os objetos do banco de dados, como tabelas índices, triggers e views ficam armazenados no mesmo arquivo. Por ser amplamente testado antes de cada release, o SQLite é considerado bastante confiável. 

E qual o uso apropriado do SQLite?

- Dispositivos embarcados (como em sistemas de Internet das Coisas - Iot)
- Websites
- Análise de Dados
- Cache para dados de RDBMS
- Bancos de Dados temporários ou internos

E quando não é apropriado usar SQLite?

- Aplicações Cliente/Servidor
- Websites com alto volume de tráfego
- Análise de datasets muito grandes
- Alta concorrência é requerida
- Armazenar Big Data

Site oficial para download e docuemtnoação do SQLite.

https://www.sqlite.org

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.3

Documentação SQLite: http://www.sqlite.org/docs.html

### Acessando Banco de Dados com Python

In [2]:
# Remove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [3]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [4]:
# Cria uma conexão com o banco de dados.
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [5]:
type(con)

sqlite3.Connection

In [6]:
# Criando um cursor
# (Um corsor permite percorrer todos os registros em um conjunto de dados)

cur = con.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [8]:
# Cria uma instrução sql
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [9]:
# Executando a instrução sql
cur.execute(sql_create)

In [10]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [11]:
# Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [12]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [13]:
# Grava a transação
con.commit()

In [14]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from cursos'

In [15]:
# Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [16]:
# Mostra
for linha in dados:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [17]:
# Gerando outros registros
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando a transação 
con.commit()

In [18]:
# Seleciona todos os registros
cur.execute('select * from cursos')

# Recupera os resultados
recset = cur.fetchall()

# Mostra
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [19]:
# Fecha a conexão
con.close()

### Criando nosso segundo banco de dados

In [1]:
# Remove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove("dsa.db") if os.path.exists("dsa.db") else None

In [5]:
import sqlite3

#criando uma conexão
conn = sqlite3.connect('dsa.db')

# Criando um cursor
c = conn.cursor()

# Função para inserir uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

# Função para inserir uma linha
def data_insert():
    c.execute('INSERT INTO produtos VALUES(10, "2018-05-02 14:32:11", "Teclado", 90 )')
    conn.commit()
    c.close()
    conn.close()

In [6]:
# Criar tabela
create_table()

In [7]:
# Inserir dados
data_insert()

### Automatizando os comando SQL

### Inserindo dados com Variáveis

In [16]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão
conn = sqlite3.connect('dsa.db')

# Criando um cursor
c = conn.cursor()

# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

# Função para inserir uma linha
def data_insert():
    c.execute('INSERT INTO produtos VALUES(10, "2018-05-02 14:32:11", "Teclado", 90 )')
    conn.commit()
    c.close()
    conn.close()

# Usando variáveis para inserir dados
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute('INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)', (new_date, new_prod_name, new_valor))
    conn.commit()

In [17]:
# Gerendo valores e inserindo na tabela
for i in range(10):
    data_insert_var()
    
    # Esse comando vai incluir um segunda entre cada execução
    time.sleep(1)

In [18]:
# Encerrando a conexão
c.close()
conn.close()

### Leitura de dados

In [19]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão
conn = sqlite3.connect('dsa.db')

# Criando um cursor
c = conn.cursor()

# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

# Função para inserir uma linha
def data_insert():
    c.execute('INSERT INTO produtos VALUES(10, "2018-05-02 14:32:11", "Teclado", 130 )')
    conn.commit()
    c.close()
    conn.close()

# Usando variáveis para inserir dados
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute('INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)',
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute('SELECT * FROM PRODUTOS')
    for linha in c.fetchall():
        print(linha)

# Leitura de resgistros específicos
def leitura_registros():
    c.execute('SELECT * FROM PRODUTOS WHERE valor > 60.0')
    for linha in c.fetchall():
        print(linha)
        
# Leitura de colunas específicas
def leitura_colunas():
    c.execute('SELECT * FROM PRODUTOS')
    for linha in c.fetchall():
        # lembrando que a coluna numero 4 será lida, pois ela possui indice 3
        print(linha[3])

In [20]:
# Select nos dados
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-11-16 21:20:19.599683', 'Monitor', 59.0)
(12, '2020-11-16 21:20:20.611523', 'Monitor', 71.0)
(13, '2020-11-16 21:20:21.625544', 'Monitor', 77.0)
(14, '2020-11-16 21:20:22.650684', 'Monitor', 89.0)
(15, '2020-11-16 21:20:23.671203', 'Monitor', 87.0)
(16, '2020-11-16 21:20:24.694641', 'Monitor', 88.0)
(17, '2020-11-16 21:20:25.717822', 'Monitor', 65.0)
(18, '2020-11-16 21:20:26.742934', 'Monitor', 92.0)
(19, '2020-11-16 21:20:27.761394', 'Monitor', 66.0)
(20, '2020-11-16 21:20:28.773829', 'Monitor', 64.0)

In [21]:
# Leitura de registros específicos
leitura_registros()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(12, '2020-11-16 21:20:20.611523', 'Monitor', 71.0)
(13, '2020-11-16 21:20:21.625544', 'Monitor', 77.0)
(14, '2020-11-16 21:20:22.650684', 'Monitor', 89.0)
(15, '2020-11-16 21:20:23.671203', 'Monitor', 87.0)
(16, '2020-11-16 21:20:24.694641', 'Monitor', 88.0)
(17, '2020-11-16 21:20:25.717822', 'Monitor', 65.0)
(18, '2020-11-16 21:20:26.742934', 'Monitor', 92.0)
(19, '2020-11-16 21:20:27.761394', 'Monitor', 66.0)
(20, '2020-11-16 21:20:28.773829', 'Monitor', 64.0)

In [22]:
# Leitura de colunas específicas
leitura_colunas()

90.0
59.0
71.0
77.0
89.0
87.0
88.0
65.0
92.0
66.0
64.0

In [23]:
# Encerrando a conexão
c.close()
conn.close()

### Update e Delete em SQLite

In [35]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão
conn = sqlite3.connect('dsa.db')

# Criando um cursor
c = conn.cursor()

# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')

# Função para inserir uma linha
def data_insert():
    c.execute('INSERT INTO produtos VALUES(10, "2018-05-02 14:32:11", "Teclado", 130 )')
    conn.commit()
    c.close()
    conn.close()

# Usando variáveis para inserir dados
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute('INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)',
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute('SELECT * FROM PRODUTOS')
    for linha in c.fetchall():
        print(linha)

# Leitura de resgistros específicos
def leitura_registros():
    c.execute('SELECT * FROM PRODUTOS WHERE valor > 60.0')
    for linha in c.fetchall():
        print(linha)
        
# Leitura de colunas específicas
def leitura_colunas():
    c.execute('SELECT * FROM PRODUTOS')
    for linha in c.fetchall():
        # lembrando que a coluna numero 4 será lida, pois ela possui indice 3
        print(linha[3])
        
# Update
def atualiza_dados():
    c.execute('UPDATE produtos SET valor = 70.00 where valor = 59.0')
    conn.commit()
    
# Delete
def remove_dados():
    c.execute('DELETE FROM produtos WHERE valor = 70.0')
    conn.commit()

In [36]:
atualiza_dados()

In [37]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-11-16 21:20:19.599683', 'Monitor', 70.0)
(12, '2020-11-16 21:20:20.611523', 'Monitor', 71.0)
(13, '2020-11-16 21:20:21.625544', 'Monitor', 77.0)
(14, '2020-11-16 21:20:22.650684', 'Monitor', 89.0)
(15, '2020-11-16 21:20:23.671203', 'Monitor', 87.0)
(16, '2020-11-16 21:20:24.694641', 'Monitor', 88.0)
(17, '2020-11-16 21:20:25.717822', 'Monitor', 65.0)
(18, '2020-11-16 21:20:26.742934', 'Monitor', 92.0)
(19, '2020-11-16 21:20:27.761394', 'Monitor', 66.0)
(20, '2020-11-16 21:20:28.773829', 'Monitor', 64.0)

In [38]:
remove_dados()

In [39]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(12, '2020-11-16 21:20:20.611523', 'Monitor', 71.0)
(13, '2020-11-16 21:20:21.625544', 'Monitor', 77.0)
(14, '2020-11-16 21:20:22.650684', 'Monitor', 89.0)
(15, '2020-11-16 21:20:23.671203', 'Monitor', 87.0)
(16, '2020-11-16 21:20:24.694641', 'Monitor', 88.0)
(17, '2020-11-16 21:20:25.717822', 'Monitor', 65.0)
(18, '2020-11-16 21:20:26.742934', 'Monitor', 92.0)
(19, '2020-11-16 21:20:27.761394', 'Monitor', 66.0)
(20, '2020-11-16 21:20:28.773829', 'Monitor', 64.0)